<div class="list card">

  <div class="item item-avatar">
    <img src="{{post.author.picture}}">
    <h2>{{post.author.name}}</h2>
    <p>{{post.date}}</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="{{post.image}}">
    <p>
      {{post.data}}
    </p>
    <p>
      <a href="#" class="subdued" style="font-size: 1em">
        <i class="ion-ios-heart-outline" style="font-size: 2em"></i> {{post.likes_count}}</a>
      <a href="#" class="subdued" style="font-size: 1em">
        <i class="ion-ios-redo-outline" style="font-size: 2em"></i> {{post.shares_count}}</a>
    </p>
  </div>

</div>