<ion-view view-title="Nova Publicação">
    <ion-nav-back-button>
    </ion-nav-back-button>
  <ion-tabs class="tabs-icon-only is-primary-light">

    <ion-tab title="Galeria" href="#/new-post/gallery" icon="ion-images">
      <ion-nav-view name="gallery-tab">
        <ng-include src="'../gallery/gallery.html'" />
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="Câmera" href="#/new-post/camera" icon="ion-ios-camera-outline">
      <ion-nav-view name="camera-tab">
        <ng-include src="'../camera/camera.html'" />
      </ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>