<ion-view title="Login" hide-nav-bar="true" id="login">
    <ion-content padding="true" class="manual-ios-statusbar-padding centered-align-container">
        <div id="login-top" class="fullwidth">
            <h1 id="page-heading1" style="color:#000000;text-align:center;">Login</h1>
            <div id="page-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
                <p style="color:#000000;">Para ter acesso selecione uma ou mais opções.</p>
            </div>
        </div>
        <div id="login-bottom" class="fullwidth">

            <ul class="list">
                <li>
                    <twitter-auth-button />
                </li>
                <li>
                    <facebook-auth-button />
                </li>
                <li>
                    <button class="button button-block button-positive"
                            on-tap="authCtrl.goHome()">
                        Entrar
                    </button>
                </li>
                <li>
                    <button id="page-button3" class="button button-dark button-block button-outline">
                        Cancelar
                    </button>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>