.centered-align-container > .scroll {
    display: flex!important;
    align-content: center !important;
    align-items: center !important;
    flex-direction: column;
    justify-content: center;
}

.fullwidth {
  width: 100%;
}