<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>{%=o.htmlWebpackPlugin.options.pkg.title %}</title>
        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>
    </head>

    <body ng-strict-di ng-app="app">
        <ion-nav-view>
          <ion-nav-bar class="bar bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
          </ion-nav-bar>
        </ion-nav-view>
        {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
        <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
        {% } %}
        
        <!-- that's really ugly but I coudln't make it work by importing in the index.js file -->
        <script src="https://www.gstatic.com/firebasejs/3.6.6/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    </body>
    <!-- {%= o.htmlWebpackPlugin.options.pkg.name + ' v' + o.htmlWebpackPlugin.options.pkg.version + ' built on ' + new Date() %} -->
</html>
