<ion-view>

  <ion-content class="padding">
    <ul class="list">
      <li ng-repeat="post in feedCtrl.posts">
        <post-card post="post"/>
      </li> 
    </ul>
  </ion-content>

  <floating-button
    button-class='green-button has-large-icon' 
    resting-button-icon='ion-ios-camera-outline'
    active-button-icon='ion-ios-camera-outline'
    on-tap-callback='feedCtrl.newPost()' />

</ion-view>