.green-button {
  background-color: rgb(65, 117, 5) !important;
  color: rgb(194, 197, 21) !important;
  transition: 0.2s;
}

.green-button:active {
  transition: 0.2s;
  background-color: rgb(45, 75, 3) !important;
}

.has-large-icon > i[class^="mfb-component__main-icon-"] {
  font-size: 30px !important;
}

