<ion-view>
  <ion-content class="padding">
    <ul class="list">
      <activity-list-item 
        activity="activity" 
        ng-repeat="activity in accountCtrl.activities"/> 
    </ul>
  </ion-content>
</ion-view>