<ion-view view-title="Notícias" hide-nav-bar="false">

    <ion-tabs class="tabs-icon-only is-primary-light">

        <ion-tab href="#/home/feed" icon="ion-ios-paper-outline">
			<ion-nav-view name="feed-tab">
				<ng-include src="'../feed/feed.html'"/>
			</ion-nav-view>
		</ion-tab>

        <ion-tab href="#/home/account" icon="ion-ios-person-outline">
			<ion-nav-view name="account-tab">
				<ng-include src="'../account/account.html'"/>
			</ion-nav-view>
		</ion-tab>

	</ion-tabs>
</ion-view>
