.is-primary-light > .tabs {
  background-color: rgb(19, 64, 115) !important;
  color: #fff !important;
}

.is-primary-light .tabs 
.tab-item.tab-item-active, 
.tab-item.active, 
.tab-item.activated {
  
  border-bottom-color: rgb(208, 2, 27) !important;

}