<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
  <li class="mfb-component__wrap">
    <a 
      href="javascript:void(0);" 
      class="mfb-component__button--main {{buttonClass}}" 
      on-tap="floatingButtonCtrl.executeCallback()">
      <i class="mfb-component__main-icon--resting {{restingButtonIcon}}"></i>
      <i class="mfb-component__main-icon--active {{activeButtonIcon}}"></i>
    </a>
  </li>
</ul>